

<div class="flourish-embed" data-src="visualisation/324223"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
<p> Humans are the chief culprits of wildfires. According to the source from National Park Service under the U.S. Department of Interior, 90% of all wildfires are started by humans in the United States.  </p>




<div class="flourish-embed" data-src="visualisation/290277"></div><script src="https://public.flourish.studio/resources/embed.js"></script>	

<div class="flourish-embed" data-src="visualisation/309489"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
